header{
    background-color: #333333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333333
  
}

nav {
  background: gray;
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: lightgray;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.image {
  width: 700px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}